<div class = "jumbotron">
  <div class = "row">
    <% @products.each do |product| %>
      <div class = "col-md-4">
        <div class = "well">
          <h2><%= link_to product.name,"/products/#{product.id}"%></h2>
          <p>Price: <%= product.price %></p>
          <p>Description: <%= product.description %></p>
          <p>Deliciousness: <%= product.deliciousness %></p>
          <%= image_tag(product.image) %>
          <p><button type="button" class="btn btn-primary">BUY NOW!</button> <button type="button" class="btn btn-success">ADD TO WISH LIST!</button></p> 
        </div>
      </div>
    <% end %>
  </div>
</div>

